<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.turing.mapper.ContractApplyMapper" >
  <resultMap id="BaseResultMap" type="com.turing.entity.ContractApply" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CONT_APP_NUM" property="contAppNum" jdbcType="VARCHAR" />
    <result column="STAT_QUOTE" property="statQuote" jdbcType="VARCHAR" />
    <result column="TOP_QUOTE" property="topQuote" jdbcType="VARCHAR" />
    <result column="LOW_QUOTE" property="lowQuote" jdbcType="VARCHAR" />
    <result column="ALL_SUM_PRICE" property="allSumPrice" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="AUTHOR_ID" property="authorId" jdbcType="VARCHAR" />
    <result column="AUTHOR" property="author" jdbcType="VARCHAR" />
    <result column="PLANER_ID" property="planerId" jdbcType="VARCHAR" />
    <result column="PLANER" property="planer" jdbcType="VARCHAR" />
    <result column="PLAN_AGREE" property="planAgree" jdbcType="VARCHAR" />
    <result column="PLAN_OPINION" property="planOpinion" jdbcType="VARCHAR" />
    <result column="PLAN_DATE" property="planDate" jdbcType="TIMESTAMP" />
    <result column="LEADER_ID" property="leaderId" jdbcType="VARCHAR" />
    <result column="LEADER" property="leader" jdbcType="VARCHAR" />
    <result column="LEAD_AGREE" property="leadAgree" jdbcType="VARCHAR" />
    <result column="LEAD_OPINION" property="leadOpinion" jdbcType="VARCHAR" />
    <result column="LEAD_DATE" property="leadDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CONT_APP_NUM, STAT_QUOTE, TOP_QUOTE, LOW_QUOTE, ALL_SUM_PRICE, REMARK, AUTHOR_ID, 
    AUTHOR, PLANER_ID, PLANER, PLAN_AGREE, PLAN_OPINION, PLAN_DATE, LEADER_ID, LEADER, 
    LEAD_AGREE, LEAD_OPINION, LEAD_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.turing.entity.ContractApplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CONTRACT_APPLY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CONTRACT_APPLY
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CONTRACT_APPLY
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.turing.entity.ContractApplyExample" >
    delete from CONTRACT_APPLY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.turing.entity.ContractApply" >
    insert into CONTRACT_APPLY (ID, CONT_APP_NUM, STAT_QUOTE, 
      TOP_QUOTE, LOW_QUOTE, ALL_SUM_PRICE, 
      REMARK, AUTHOR_ID, AUTHOR, 
      PLANER_ID, PLANER, PLAN_AGREE, 
      PLAN_OPINION, PLAN_DATE, LEADER_ID, 
      LEADER, LEAD_AGREE, LEAD_OPINION, 
      LEAD_DATE)
    values (#{id,jdbcType=INTEGER}, #{contAppNum,jdbcType=VARCHAR}, #{statQuote,jdbcType=VARCHAR}, 
      #{topQuote,jdbcType=VARCHAR}, #{lowQuote,jdbcType=VARCHAR}, #{allSumPrice,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{authorId,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{planerId,jdbcType=VARCHAR}, #{planer,jdbcType=VARCHAR}, #{planAgree,jdbcType=VARCHAR}, 
      #{planOpinion,jdbcType=VARCHAR}, #{planDate,jdbcType=TIMESTAMP}, #{leaderId,jdbcType=VARCHAR}, 
      #{leader,jdbcType=VARCHAR}, #{leadAgree,jdbcType=VARCHAR}, #{leadOpinion,jdbcType=VARCHAR}, 
      #{leadDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.turing.entity.ContractApply" >
    insert into CONTRACT_APPLY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="contAppNum != null" >
        CONT_APP_NUM,
      </if>
      <if test="statQuote != null" >
        STAT_QUOTE,
      </if>
      <if test="topQuote != null" >
        TOP_QUOTE,
      </if>
      <if test="lowQuote != null" >
        LOW_QUOTE,
      </if>
      <if test="allSumPrice != null" >
        ALL_SUM_PRICE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="authorId != null" >
        AUTHOR_ID,
      </if>
      <if test="author != null" >
        AUTHOR,
      </if>
      <if test="planerId != null" >
        PLANER_ID,
      </if>
      <if test="planer != null" >
        PLANER,
      </if>
      <if test="planAgree != null" >
        PLAN_AGREE,
      </if>
      <if test="planOpinion != null" >
        PLAN_OPINION,
      </if>
      <if test="planDate != null" >
        PLAN_DATE,
      </if>
      <if test="leaderId != null" >
        LEADER_ID,
      </if>
      <if test="leader != null" >
        LEADER,
      </if>
      <if test="leadAgree != null" >
        LEAD_AGREE,
      </if>
      <if test="leadOpinion != null" >
        LEAD_OPINION,
      </if>
      <if test="leadDate != null" >
        LEAD_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contAppNum != null" >
        #{contAppNum,jdbcType=VARCHAR},
      </if>
      <if test="statQuote != null" >
        #{statQuote,jdbcType=VARCHAR},
      </if>
      <if test="topQuote != null" >
        #{topQuote,jdbcType=VARCHAR},
      </if>
      <if test="lowQuote != null" >
        #{lowQuote,jdbcType=VARCHAR},
      </if>
      <if test="allSumPrice != null" >
        #{allSumPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="planerId != null" >
        #{planerId,jdbcType=VARCHAR},
      </if>
      <if test="planer != null" >
        #{planer,jdbcType=VARCHAR},
      </if>
      <if test="planAgree != null" >
        #{planAgree,jdbcType=VARCHAR},
      </if>
      <if test="planOpinion != null" >
        #{planOpinion,jdbcType=VARCHAR},
      </if>
      <if test="planDate != null" >
        #{planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="leaderId != null" >
        #{leaderId,jdbcType=VARCHAR},
      </if>
      <if test="leader != null" >
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="leadAgree != null" >
        #{leadAgree,jdbcType=VARCHAR},
      </if>
      <if test="leadOpinion != null" >
        #{leadOpinion,jdbcType=VARCHAR},
      </if>
      <if test="leadDate != null" >
        #{leadDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.turing.entity.ContractApplyExample" resultType="java.lang.Integer" >
    select count(*) from CONTRACT_APPLY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CONTRACT_APPLY
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.contAppNum != null" >
        CONT_APP_NUM = #{record.contAppNum,jdbcType=VARCHAR},
      </if>
      <if test="record.statQuote != null" >
        STAT_QUOTE = #{record.statQuote,jdbcType=VARCHAR},
      </if>
      <if test="record.topQuote != null" >
        TOP_QUOTE = #{record.topQuote,jdbcType=VARCHAR},
      </if>
      <if test="record.lowQuote != null" >
        LOW_QUOTE = #{record.lowQuote,jdbcType=VARCHAR},
      </if>
      <if test="record.allSumPrice != null" >
        ALL_SUM_PRICE = #{record.allSumPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.authorId != null" >
        AUTHOR_ID = #{record.authorId,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        AUTHOR = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.planerId != null" >
        PLANER_ID = #{record.planerId,jdbcType=VARCHAR},
      </if>
      <if test="record.planer != null" >
        PLANER = #{record.planer,jdbcType=VARCHAR},
      </if>
      <if test="record.planAgree != null" >
        PLAN_AGREE = #{record.planAgree,jdbcType=VARCHAR},
      </if>
      <if test="record.planOpinion != null" >
        PLAN_OPINION = #{record.planOpinion,jdbcType=VARCHAR},
      </if>
      <if test="record.planDate != null" >
        PLAN_DATE = #{record.planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.leaderId != null" >
        LEADER_ID = #{record.leaderId,jdbcType=VARCHAR},
      </if>
      <if test="record.leader != null" >
        LEADER = #{record.leader,jdbcType=VARCHAR},
      </if>
      <if test="record.leadAgree != null" >
        LEAD_AGREE = #{record.leadAgree,jdbcType=VARCHAR},
      </if>
      <if test="record.leadOpinion != null" >
        LEAD_OPINION = #{record.leadOpinion,jdbcType=VARCHAR},
      </if>
      <if test="record.leadDate != null" >
        LEAD_DATE = #{record.leadDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CONTRACT_APPLY
    set ID = #{record.id,jdbcType=INTEGER},
      CONT_APP_NUM = #{record.contAppNum,jdbcType=VARCHAR},
      STAT_QUOTE = #{record.statQuote,jdbcType=VARCHAR},
      TOP_QUOTE = #{record.topQuote,jdbcType=VARCHAR},
      LOW_QUOTE = #{record.lowQuote,jdbcType=VARCHAR},
      ALL_SUM_PRICE = #{record.allSumPrice,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      AUTHOR_ID = #{record.authorId,jdbcType=VARCHAR},
      AUTHOR = #{record.author,jdbcType=VARCHAR},
      PLANER_ID = #{record.planerId,jdbcType=VARCHAR},
      PLANER = #{record.planer,jdbcType=VARCHAR},
      PLAN_AGREE = #{record.planAgree,jdbcType=VARCHAR},
      PLAN_OPINION = #{record.planOpinion,jdbcType=VARCHAR},
      PLAN_DATE = #{record.planDate,jdbcType=TIMESTAMP},
      LEADER_ID = #{record.leaderId,jdbcType=VARCHAR},
      LEADER = #{record.leader,jdbcType=VARCHAR},
      LEAD_AGREE = #{record.leadAgree,jdbcType=VARCHAR},
      LEAD_OPINION = #{record.leadOpinion,jdbcType=VARCHAR},
      LEAD_DATE = #{record.leadDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.turing.entity.ContractApply" >
    update CONTRACT_APPLY
    <set >
      <if test="contAppNum != null" >
        CONT_APP_NUM = #{contAppNum,jdbcType=VARCHAR},
      </if>
      <if test="statQuote != null" >
        STAT_QUOTE = #{statQuote,jdbcType=VARCHAR},
      </if>
      <if test="topQuote != null" >
        TOP_QUOTE = #{topQuote,jdbcType=VARCHAR},
      </if>
      <if test="lowQuote != null" >
        LOW_QUOTE = #{lowQuote,jdbcType=VARCHAR},
      </if>
      <if test="allSumPrice != null" >
        ALL_SUM_PRICE = #{allSumPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null" >
        AUTHOR_ID = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="planerId != null" >
        PLANER_ID = #{planerId,jdbcType=VARCHAR},
      </if>
      <if test="planer != null" >
        PLANER = #{planer,jdbcType=VARCHAR},
      </if>
      <if test="planAgree != null" >
        PLAN_AGREE = #{planAgree,jdbcType=VARCHAR},
      </if>
      <if test="planOpinion != null" >
        PLAN_OPINION = #{planOpinion,jdbcType=VARCHAR},
      </if>
      <if test="planDate != null" >
        PLAN_DATE = #{planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="leaderId != null" >
        LEADER_ID = #{leaderId,jdbcType=VARCHAR},
      </if>
      <if test="leader != null" >
        LEADER = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="leadAgree != null" >
        LEAD_AGREE = #{leadAgree,jdbcType=VARCHAR},
      </if>
      <if test="leadOpinion != null" >
        LEAD_OPINION = #{leadOpinion,jdbcType=VARCHAR},
      </if>
      <if test="leadDate != null" >
        LEAD_DATE = #{leadDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.turing.entity.ContractApply" >
    update CONTRACT_APPLY
    set CONT_APP_NUM = #{contAppNum,jdbcType=VARCHAR},
      STAT_QUOTE = #{statQuote,jdbcType=VARCHAR},
      TOP_QUOTE = #{topQuote,jdbcType=VARCHAR},
      LOW_QUOTE = #{lowQuote,jdbcType=VARCHAR},
      ALL_SUM_PRICE = #{allSumPrice,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      AUTHOR_ID = #{authorId,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=VARCHAR},
      PLANER_ID = #{planerId,jdbcType=VARCHAR},
      PLANER = #{planer,jdbcType=VARCHAR},
      PLAN_AGREE = #{planAgree,jdbcType=VARCHAR},
      PLAN_OPINION = #{planOpinion,jdbcType=VARCHAR},
      PLAN_DATE = #{planDate,jdbcType=TIMESTAMP},
      LEADER_ID = #{leaderId,jdbcType=VARCHAR},
      LEADER = #{leader,jdbcType=VARCHAR},
      LEAD_AGREE = #{leadAgree,jdbcType=VARCHAR},
      LEAD_OPINION = #{leadOpinion,jdbcType=VARCHAR},
      LEAD_DATE = #{leadDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>