<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.turing.mapper.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.turing.entity.Supplier" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SUPPLIER_NUM" property="supplierNum" jdbcType="VARCHAR" />
    <result column="CERTIFICATE" property="certificate" jdbcType="VARCHAR" />
    <result column="COMPANY" property="company" jdbcType="VARCHAR" />
    <result column="KIND" property="kind" jdbcType="VARCHAR" />
    <result column="CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="ZIP" property="zip" jdbcType="VARCHAR" />
    <result column="REG_FUND" property="regFund" jdbcType="VARCHAR" />
    <result column="CORPORATION" property="corporation" jdbcType="VARCHAR" />
    <result column="ACHIEVEMENT" property="achievement" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SUPPLIER_NUM, CERTIFICATE, COMPANY, KIND, CONTACT, PHONE, FAX, EMAIL, ADDRESS, 
    ZIP, REG_FUND, CORPORATION, ACHIEVEMENT, STATUS, USER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.turing.entity.SupplierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SUPPLIER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SUPPLIER
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SUPPLIER
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.turing.entity.SupplierExample" >
    delete from SUPPLIER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.turing.entity.Supplier" >
    insert into SUPPLIER (ID, SUPPLIER_NUM, CERTIFICATE, 
      COMPANY, KIND, CONTACT, 
      PHONE, FAX, EMAIL, 
      ADDRESS, ZIP, REG_FUND, 
      CORPORATION, ACHIEVEMENT, STATUS, 
      USER_ID)
    values (#{id,jdbcType=INTEGER}, #{supplierNum,jdbcType=VARCHAR}, #{certificate,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{kind,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{zip,jdbcType=VARCHAR}, #{regFund,jdbcType=VARCHAR}, 
      #{corporation,jdbcType=VARCHAR}, #{achievement,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.turing.entity.Supplier" >
    insert into SUPPLIER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="supplierNum != null" >
        SUPPLIER_NUM,
      </if>
      <if test="certificate != null" >
        CERTIFICATE,
      </if>
      <if test="company != null" >
        COMPANY,
      </if>
      <if test="kind != null" >
        KIND,
      </if>
      <if test="contact != null" >
        CONTACT,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="fax != null" >
        FAX,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="zip != null" >
        ZIP,
      </if>
      <if test="regFund != null" >
        REG_FUND,
      </if>
      <if test="corporation != null" >
        CORPORATION,
      </if>
      <if test="achievement != null" >
        ACHIEVEMENT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="supplierNum != null" >
        #{supplierNum,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null" >
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        #{zip,jdbcType=VARCHAR},
      </if>
      <if test="regFund != null" >
        #{regFund,jdbcType=VARCHAR},
      </if>
      <if test="corporation != null" >
        #{corporation,jdbcType=VARCHAR},
      </if>
      <if test="achievement != null" >
        #{achievement,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.turing.entity.SupplierExample" resultType="java.lang.Integer" >
    select count(*) from SUPPLIER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SUPPLIER
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.supplierNum != null" >
        SUPPLIER_NUM = #{record.supplierNum,jdbcType=VARCHAR},
      </if>
      <if test="record.certificate != null" >
        CERTIFICATE = #{record.certificate,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        COMPANY = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.kind != null" >
        KIND = #{record.kind,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null" >
        CONTACT = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null" >
        FAX = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.zip != null" >
        ZIP = #{record.zip,jdbcType=VARCHAR},
      </if>
      <if test="record.regFund != null" >
        REG_FUND = #{record.regFund,jdbcType=VARCHAR},
      </if>
      <if test="record.corporation != null" >
        CORPORATION = #{record.corporation,jdbcType=VARCHAR},
      </if>
      <if test="record.achievement != null" >
        ACHIEVEMENT = #{record.achievement,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SUPPLIER
    set ID = #{record.id,jdbcType=INTEGER},
      SUPPLIER_NUM = #{record.supplierNum,jdbcType=VARCHAR},
      CERTIFICATE = #{record.certificate,jdbcType=VARCHAR},
      COMPANY = #{record.company,jdbcType=VARCHAR},
      KIND = #{record.kind,jdbcType=VARCHAR},
      CONTACT = #{record.contact,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      FAX = #{record.fax,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      ZIP = #{record.zip,jdbcType=VARCHAR},
      REG_FUND = #{record.regFund,jdbcType=VARCHAR},
      CORPORATION = #{record.corporation,jdbcType=VARCHAR},
      ACHIEVEMENT = #{record.achievement,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.turing.entity.Supplier" >
    update SUPPLIER
    <set >
      <if test="supplierNum != null" >
        SUPPLIER_NUM = #{supplierNum,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null" >
        CERTIFICATE = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        COMPANY = #{company,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        KIND = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        ZIP = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="regFund != null" >
        REG_FUND = #{regFund,jdbcType=VARCHAR},
      </if>
      <if test="corporation != null" >
        CORPORATION = #{corporation,jdbcType=VARCHAR},
      </if>
      <if test="achievement != null" >
        ACHIEVEMENT = #{achievement,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.turing.entity.Supplier" >
    update SUPPLIER
    set SUPPLIER_NUM = #{supplierNum,jdbcType=VARCHAR},
      CERTIFICATE = #{certificate,jdbcType=VARCHAR},
      COMPANY = #{company,jdbcType=VARCHAR},
      KIND = #{kind,jdbcType=VARCHAR},
      CONTACT = #{contact,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      ZIP = #{zip,jdbcType=VARCHAR},
      REG_FUND = #{regFund,jdbcType=VARCHAR},
      CORPORATION = #{corporation,jdbcType=VARCHAR},
      ACHIEVEMENT = #{achievement,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>