<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.turing.mapper.SysMenusMapper" >
  <resultMap id="BaseResultMap" type="com.turing.entity.SysMenus" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="SEQ" property="seq" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TIP" property="tip" jdbcType="VARCHAR" />
    <result column="DESCN" property="descn" jdbcType="VARCHAR" />
    <result column="IMAGE_URL" property="imageUrl" jdbcType="VARCHAR" />
    <result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR" />
    <result column="TARGET" property="target" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PARENT_ID, SEQ, NAME, TIP, DESCN, IMAGE_URL, LINK_URL, TARGET, STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.turing.entity.SysMenusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_MENUS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SYS_MENUS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SYS_MENUS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.turing.entity.SysMenusExample" >
    delete from SYS_MENUS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.turing.entity.SysMenus" >
    insert into SYS_MENUS (ID, PARENT_ID, SEQ, 
      NAME, TIP, DESCN, IMAGE_URL, 
      LINK_URL, TARGET, STATUS
      )
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{seq,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{tip,jdbcType=VARCHAR}, #{descn,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
      #{linkUrl,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.turing.entity.SysMenus" >
    insert into SYS_MENUS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="seq != null" >
        SEQ,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="tip != null" >
        TIP,
      </if>
      <if test="descn != null" >
        DESCN,
      </if>
      <if test="imageUrl != null" >
        IMAGE_URL,
      </if>
      <if test="linkUrl != null" >
        LINK_URL,
      </if>
      <if test="target != null" >
        TARGET,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tip != null" >
        #{tip,jdbcType=VARCHAR},
      </if>
      <if test="descn != null" >
        #{descn,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.turing.entity.SysMenusExample" resultType="java.lang.Integer" >
    select count(*) from SYS_MENUS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_MENUS
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.seq != null" >
        SEQ = #{record.seq,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tip != null" >
        TIP = #{record.tip,jdbcType=VARCHAR},
      </if>
      <if test="record.descn != null" >
        DESCN = #{record.descn,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUrl != null" >
        IMAGE_URL = #{record.imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.linkUrl != null" >
        LINK_URL = #{record.linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.target != null" >
        TARGET = #{record.target,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_MENUS
    set ID = #{record.id,jdbcType=INTEGER},
      PARENT_ID = #{record.parentId,jdbcType=INTEGER},
      SEQ = #{record.seq,jdbcType=INTEGER},
      NAME = #{record.name,jdbcType=VARCHAR},
      TIP = #{record.tip,jdbcType=VARCHAR},
      DESCN = #{record.descn,jdbcType=VARCHAR},
      IMAGE_URL = #{record.imageUrl,jdbcType=VARCHAR},
      LINK_URL = #{record.linkUrl,jdbcType=VARCHAR},
      TARGET = #{record.target,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.turing.entity.SysMenus" >
    update SYS_MENUS
    <set >
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="seq != null" >
        SEQ = #{seq,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tip != null" >
        TIP = #{tip,jdbcType=VARCHAR},
      </if>
      <if test="descn != null" >
        DESCN = #{descn,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        TARGET = #{target,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.turing.entity.SysMenus" >
    update SYS_MENUS
    set PARENT_ID = #{parentId,jdbcType=INTEGER},
      SEQ = #{seq,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      TIP = #{tip,jdbcType=VARCHAR},
      DESCN = #{descn,jdbcType=VARCHAR},
      IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      TARGET = #{target,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>